<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.JobMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Job" >
    <id column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_remark" property="jobRemark" jdbcType="VARCHAR" />
    <result column="job_status" property="jobStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    job_id, job_name, job_remark, job_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <select id="listOfJob" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from job
    where job_name like #{jobName}
    limit #{page}, #{size}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Job" useGeneratedKeys="true" keyColumn="job_id" keyProperty="jobId" >
    insert into job (job_id, job_name, job_remark, 
      job_status)
    values (#{jobId,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR}, #{jobRemark,jdbcType=VARCHAR}, 
      #{jobStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Job" useGeneratedKeys="true" keyColumn="job_id" keyProperty="jobId"  >
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="jobRemark != null" >
        job_remark,
      </if>
      <if test="jobStatus != null" >
        job_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobRemark != null" >
        #{jobRemark,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null" >
        #{jobStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Job" >
    update job
    <set >
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobRemark != null" >
        job_remark = #{jobRemark,jdbcType=VARCHAR},
      </if>
      <if test="jobStatus != null" >
        job_status = #{jobStatus,jdbcType=INTEGER},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Job" >
    update job
    set job_name = #{jobName,jdbcType=VARCHAR},
      job_remark = #{jobRemark,jdbcType=VARCHAR},
      job_status = #{jobStatus,jdbcType=INTEGER}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
</mapper>